STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
POSTGRES_URL=

# Redington configuration (mirrors Magento system settings)
REDINGTON_PRODUCT_DISABLE_DEFAULT_STOCK=
REDINGTON_DOMAIN_STOCK_CONTROL_ENABLED=
REDINGTON_DOMAIN_AUTH_ENABLED=
REDINGTON_PRODUCT_CATEGORY_ROOT_ID=
REDINGTON_PRODUCT_MAX_ORDER_DURATION=

REDINGTON_GET_IN_TOUCH_EMAIL=

REDINGTON_PAYMENT_API_URL=
REDINGTON_PAYMENT_USERNAME=
REDINGTON_PAYMENT_PASSWORD=
REDINGTON_AVAILABLE_PAYMENT_METHODS=

REDINGTON_SAP_DOMAIN=
REDINGTON_SAP_KSA_COMPANY_CODE=
REDINGTON_SAP_NOTIFICATION_RECIPIENTS=
REDINGTON_SAP_API_URL=
REDINGTON_SAP_API_CLIENT_ID=
REDINGTON_SAP_API_CLIENT_SECRET=
REDINGTON_SAP_CUSTOMER_NUMBER=
REDINGTON_SAP_INVOICE_API_URL=
REDINGTON_SAP_INVOICE_CLIENT_ID=
REDINGTON_SAP_INVOICE_CLIENT_SECRET=
REDINGTON_SAP_INVOICE_PDF_API_URL=

REDINGTON_GUEST_ALLOWED_DOMAINS=

REDINGTON_STOCK_ENQUIRY_EMAIL_TEMPLATE=
REDINGTON_STOCK_ENQUIRY_NOTIFY_TEMPLATE=
REDINGTON_STOCK_ENQUIRY_EMAIL_SUBJECT=
REDINGTON_STOCK_ENQUIRY_NOTIFY_SUBJECT=
REDINGTON_STOCK_ENQUIRY_EMAIL_SENDER=

REDINGTON_SMS_API_URL=
REDINGTON_SMS_CLIENT_ID=
REDINGTON_SMS_CLIENT_SECRET=
REDINGTON_SMS_SENDER_ID=
REDINGTON_SMS_APPLICATION=
REDINGTON_SMS_ENABLE_OTP=
REDINGTON_SMS_OTP_TEXT=
